In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('CSVs/allmovies.csv')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 34 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              10000 non-null  bool
 1   backdrop_path      10000 non-null  object
 2   genre_ids          10000 non-null  object
 3   id                 10000 non-null  int64
 4   original_language  10000 non-null  object
 5   original_title     10000 non-null  object
 6   overview           10000 non-null  object
 7   popularity         10000 non-null  float64
 8   poster_path        10000 non-null  object
 9   release_date       10000 non-null  object
 10  title              10000 non-null  object
 11  video              10000 non-null  bool
 12  vote_average       10000 non-null  float64
 13  vote_count         10000 non-null  int64
 14  Animation          10000 non-null  float64
 15  Family             10000 non-null  float64
 16  Adventure          10000 non-null  float64
 17  Comedy             10000 non-null  float64
 18  Action             10000 non-null  float64
 19  Crime              10000 non-null  float64
 20  Thriller           10000 non-null  float64
 21  Science Fiction    10000 non-null  float64
 22  Drama              10000 non-null  float64
 23  Fantasy            10000 non-null  float64
 24  Horror             10000 non-null  float64
 25  Romance            10000 non-null  float64
 26  War                10000 non-null  float64
 27  Music              10000 non-null  float64
 28  Western            10000 non-null  float64
 29  TV Movie           10000 non-null  float64
 30  Mystery            10000 non-null  float64
 31  History            10000 non-null  float64
 32  Documentary        10000 non-null  float64
 33  Unnamed: 33        10000 non-null  float64
dtypes: bool(2), float64(22), int64(2), object(8)
memory usage: 2.5+ MB

In [21]:
df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,...,Horror,Romance,War,Music,Western,TV Movie,Mystery,History,Documentary,Unnamed: 33
0,False,/xg27NrXi7VXCGUr7MG75UqLl6Vg.jpg,"['Animation', 'Family', 'Adventure', 'Comedy']",1022789,en,Inside Out 2,Teenager Riley's mind headquarters is undergoi...,4728.541,/vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg,2024-06-11,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,False,/tncbMvfV0V07UZozXdBEq4Wu9HH.jpg,"['Action', 'Crime', 'Thriller', 'Comedy']",573435,en,Bad Boys: Ride or Die,"After their late former Captain is framed, Low...",6093.342,/nP6RliHjxsz4irTKsxe8FRhKZYl.jpg,2024-06-05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,False,/fDmci71SMkfZM8RnCuXJVDPaSdE.jpg,"['Animation', 'Family', 'Comedy', 'Action']",519182,en,Despicable Me 4,"Gru and Lucy and their girls — Margo, Edith an...",3628.468,/wWba3TaojhK7NdycRhoQpsG0FaH.jpg,2024-06-20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,False,/dvBCdCohwWbsP5qAaglOXagDMtk.jpg,"['Science Fiction', 'Action', 'Comedy']",533535,en,Deadpool & Wolverine,A listless Wade Wilson toils away in civilian ...,3050.593,/8cdWjvZQUExUUTzyp4t6EDMubfO.jpg,2024-07-24,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,False,/Akv9GlCCMrzcDkVz4ad8MdLl9DK.jpg,"['Animation', 'Comedy', 'Family', 'Adventure']",748783,en,The Garfield Movie,"Garfield, the world-famous, Monday-hating, las...",1852.128,/p6AbOJvMQhBmffd0PIv0u8ghWeY.jpg,2024-04-30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
df.drop(columns=['backdrop_path', 'poster_path', 'release_date', 'video', 'overview'], inplace=True)
df.reset_index()
df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              10000 non-null  bool
 1   genre_ids          10000 non-null  object
 2   id                 10000 non-null  int64
 3   original_language  10000 non-null  object
 4   original_title     10000 non-null  object
 5   popularity         10000 non-null  float64
 6   title              10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
 9   Animation          10000 non-null  float64
 10  Family             10000 non-null  float64
 11  Adventure          10000 non-null  float64
 12  Comedy             10000 non-null  float64
 13  Action             10000 non-null  float64
 14  Crime              10000 non-null  float64
 15  Thriller           10000 non-null  float64
 16  Science Fiction    10000 non-null  float64
 17  Drama              10000 non-null  float64
 18  Fantasy            10000 non-null  float64
 19  Horror             10000 non-null  float64
 20  Romance            10000 non-null  float64
 21  War                10000 non-null  float64
 22  Music              10000 non-null  float64
 23  Western            10000 non-null  float64
 24  TV Movie           10000 non-null  float64
 25  Mystery            10000 non-null  float64
 26  History            10000 non-null  float64
 27  Documentary        10000 non-null  float64
 28  Unnamed: 33        10000 non-null  float64
dtypes: bool(1), float64(22), int64(2), object(4)
memory usage: 2.1+ MB

In [23]:
df = df.drop(columns=['Unnamed: 33'])

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              10000 non-null  bool
 1   genre_ids          10000 non-null  object
 2   id                 10000 non-null  int64
 3   original_language  10000 non-null  object
 4   original_title     10000 non-null  object
 5   popularity         10000 non-null  float64
 6   title              10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
 9   Animation          10000 non-null  float64
 10  Family             10000 non-null  float64
 11  Adventure          10000 non-null  float64
 12  Comedy             10000 non-null  float64
 13  Action             10000 non-null  float64
 14  Crime              10000 non-null  float64
 15  Thriller           10000 non-null  float64
 16  Science Fiction    10000 non-null  float64
 17  Drama              10000 non-null  float64
 18  Fantasy            10000 non-null  float64
 19  Horror             10000 non-null  float64
 20  Romance            10000 non-null  float64
 21  War                10000 non-null  float64
 22  Music              10000 non-null  float64
 23  Western            10000 non-null  float64
 24  TV Movie           10000 non-null  float64
 25  Mystery            10000 non-null  float64
 26  History            10000 non-null  float64
 27  Documentary        10000 non-null  float64
dtypes: bool(1), float64(21), int64(2), object(4)
memory usage: 2.1+ MB

In [25]:
df.to_csv('allmovies.csv')